<% content_for :title, "Sign in" %>

<h1>Sign in</h1>

<%= form_with url: session_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :username, "Username", class: "field-label" %>
    <%= form.text_field :username, required: true, autocomplete: "username", class: "input" %>
  </div>
  <div class="field">
    <%= form.label :password, "Password", class: "field-label" %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", class: "input" %>
  </div>
  <div class="form-actions">
    <%= form.submit "Sign in", class: "button button-primary" %>
  </div>
<% end %>
