<% content_for :title, "Suspended transactions" %>

<%= render "shared/page_header", title: "Suspended transactions" %>

<% if @suspended_transactions.empty? %>
  <%= render "shared/empty_state", title: "No suspended transactions",
        body: "Suspended sales waiting to be recalled will appear here." %>
<% else %>
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th scope="col">Public ID</th>
          <th scope="col">Suspended at</th>
          <th scope="col"><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        <% @suspended_transactions.each do |transaction| %>
          <tr>
            <td><%= link_to transaction.public_id, pos_transaction_path(transaction) %></td>
            <td><%= formatted_datetime(transaction.suspended_at, format: :short) %></td>
            <td>
              <% if Current.user.can?("pos.transaction.recall", store: Current.store) %>
                <%= button_to "Recall", recall_pos_transaction_path(transaction), class: "button button-small button-outline" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<p><%= link_to "Back to register", register_path, class: "button button-ghost button-small" %></p>
