<%= form_with model: inventory_adjustment_reason do |form| %>
  <% if inventory_adjustment_reason.errors.any? %>
    <ul>
      <% inventory_adjustment_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if inventory_adjustment_reason.persisted? %>
    <div><%= form.label :adjustment_kind %> <%= inventory_adjustment_reason.adjustment_kind %></div>
    <div><%= form.label :code %> <%= inventory_adjustment_reason.code %></div>
  <% else %>
    <div><%= form.label :adjustment_kind %> <%= form.select :adjustment_kind, InventoryAdjustmentReason::ADJUSTMENT_KINDS %></div>
    <div><%= form.label :code %> <%= form.text_field :code %></div>
  <% end %>
  <div><%= form.label :name %> <%= form.text_field :name %></div>
  <div><%= form.label :description %> <%= form.text_area :description %></div>
  <div><%= form.label :requires_note %> <%= form.check_box :requires_note %></div>
  <div><%= form.label :position %> <%= form.number_field :position %></div>
  <div><%= form.label :active %> <%= form.check_box :active %></div>
  <div><%= form.submit %></div>
<% end %>
