<%= form_with model: discount_reason do |form| %>
  <% if discount_reason.errors.any? %>
    <ul>
      <% discount_reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if discount_reason.persisted? %>
    <div><%= form.label :code %> <%= discount_reason.code %></div>
  <% else %>
    <div><%= form.label :code %> <%= form.text_field :code %></div>
  <% end %>
  <div><%= form.label :name %> <%= form.text_field :name %></div>
  <div><%= form.label :default_calculation_method %> <%= form.select :default_calculation_method, DiscountReason::CALCULATION_METHODS %></div>
  <div><%= form.label :default_rate_bps %> <%= form.number_field :default_rate_bps %></div>
  <div><%= form.label :default_amount_cents %> <%= form.number_field :default_amount_cents %></div>
  <div><%= form.label :maximum_rate_bps %> <%= form.number_field :maximum_rate_bps %></div>
  <div><%= form.label :requires_approval %> <%= form.check_box :requires_approval %></div>
  <div><%= form.label :resulting_return_policy_id, "Resulting return policy" %> <%= form.collection_select :resulting_return_policy_id, return_policies, :id, :code, include_blank: true %></div>
  <div><%= form.label :active %> <%= form.check_box :active %></div>
  <div><%= form.submit %></div>
<% end %>
