<% content_for :title, "Home" %>

<h1>ShelfStack</h1>
<p>
  Signed in as <%= Current.user.username %>
  at <%= Current.store.name %>
  (<%= Current.organization.name %>).
</p>

<nav>
  <ul>
    <li><%= link_to "Products", products_path if Current.user.can?("catalog.product.view", store: Current.store) %></li>
    <li><%= link_to "Stores", stores_path if Current.user.can?("administration.store.view", store: Current.store) %></li>
    <li><%= link_to "Users", users_path if Current.user.can?("administration.user.view", store: Current.store) %></li>
    <li><%= link_to "Roles", roles_path if Current.user.can?("administration.role.manage", store: Current.store) %></li>
    <li><%= link_to "Permissions", permissions_path if Current.user.can?("administration.store.view", store: Current.store) %></li>
    <li><%= link_to "Audit", administrative_audit_events_path if Current.user.can?("administration.audit.view", store: Current.store) %></li>
    <li><%= link_to "Memberships", store_memberships_path if Current.user.can?("administration.membership.manage", store: Current.store) %></li>
    <li><%= link_to "Devices", pos_devices_path if Current.user.can?("administration.device.manage", store: Current.store) %></li>
    <li><%= link_to "Drawers", cash_drawers_path if Current.user.can?("administration.drawer.manage", store: Current.store) %></li>
    <li><%= link_to "Tax categories", tax_categories_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Return policies", return_policies_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Return reasons", return_reasons_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Discount reasons", discount_reasons_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Departments", departments_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Merchandise classes", merchandise_classes_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Product formats", product_formats_path if Current.user.can?("classification.view", store: Current.store) %></li>
    <li><%= link_to "Product conditions", product_conditions_path if Current.user.can?("classification.view", store: Current.store) %></li>
  </ul>
</nav>

<%= button_to "Sign out", session_path, method: :delete %>
<% if effective_memberships_for(Current.user).many? %>
  <p><%= link_to "Switch store", new_store_selection_path %></p>
<% end %>
