<%= form_with model: product_format do |form| %>
  <% if product_format.errors.any? %>
    <ul>
      <% product_format.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if product_format.persisted? %>
    <div><%= form.label :code %> <%= product_format.code %></div>
  <% else %>
    <div><%= form.label :code %> <%= form.text_field :code %></div>
  <% end %>
  <div><%= form.label :name %> <%= form.text_field :name %></div>
  <div><%= form.label :short_code %> <%= form.text_field :short_code %></div>
  <div><%= form.label :format_family %> <%= form.text_field :format_family %></div>
  <div><%= form.label :default_inventory_tracking_mode, "Tracking mode" %> <%= form.select :default_inventory_tracking_mode, ProductFormat::INVENTORY_TRACKING_MODES %></div>
  <div><%= form.label :active %> <%= form.check_box :active %></div>
  <div><%= form.submit %></div>
<% end %>
