<%= form_with model: merchandise_class do |form| %>
  <% if merchandise_class.errors.any? %>
    <ul>
      <% merchandise_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if merchandise_class.persisted? %>
    <div><%= form.label :code %> <%= merchandise_class.code %></div>
  <% else %>
    <div><%= form.label :code %> <%= form.text_field :code %></div>
  <% end %>
  <div><%= form.label :name %> <%= form.text_field :name %></div>
  <div><%= form.label :level %> <%= form.select :level, MerchandiseClass::LEVELS %></div>
  <div><%= form.label :parent_id, "Parent class" %> <%= form.collection_select :parent_id, parent_classes.reject { |c| c.id == merchandise_class.id }, :id, :code, include_blank: true %></div>
  <div><%= form.label :default_department_id, "Default department" %> <%= form.collection_select :default_department_id, departments, :id, :code, include_blank: true %></div>
  <div><%= form.label :default_used_department_id, "Default used department" %> <%= form.collection_select :default_used_department_id, departments, :id, :code, include_blank: true %></div>
  <div><%= form.label :position %> <%= form.number_field :position %></div>
  <div><%= form.label :active %> <%= form.check_box :active %></div>
  <div><%= form.submit %></div>
<% end %>
